.div_one{
    width: 1350px; 
    background-color: #fafafa; 
    border: solid 1px #aaaaaa; 
    box-shadow: 1px 1px 1px 1px #aaaaaa; 
    margin: 30px 0 0 100px;
}
.div_two{
    width: 1350px; 
    min-width: 1350px; 
    height: 800px; 
    min-height: 800px;
}

.div_three{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    height: 40px; 
    border: solid 1px #aaaaaa;
}
.div_four{
    display: flex; 
    flex-direction: row;
}
.main_img{
    width: 20px; 
    height: 20px; 
    border-radius: 10px; 
    margin: 10px 5px 0 5px;
}
.following{
    border: solid 1px #aaaaaa; 
    border-radius: 4px; 
    height: 25px; 
    margin: 5px 0 0 10px; 
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 11pt; 
    text-decoration: none; 
    color: #fafafa;; 
    background-color: #aaaaaa;
}
.followee{
    border: solid 1px #aaaaaa; 
    border-radius: 4px; 
    height: 25px; 
    margin: 5px 0 0 10px; 
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 11pt; 
    text-decoration: none; 
    color: #aaaaaa;; 
    background-color: #fafafa;
}

.FeedBoxCont {
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 0 100px;
}

.FeedBox {
    display: flex;
    width: 300px;
    height: 400px;
    margin-top: 30px;

}