<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/category.css">

    <title>홈화면</title>


</head>
<body>
    <div class="FeedBoxCont">
        
        <div class="FeedBox" style="background-color: #fafafa; border: solid 1px #aaaaaa; box-shadow: 1px 1px 1px 1px #aaaaaa;">
            <div style="width: 300px; min-width: 300px; height: 400px; min-height: 400px;">

                <div style="display: flex; flex-direction: row; justify-content: space-between; height: 40px;">
                    <div style="display: flex; flex-direction: row;">
                        카카오 프로필
                        <img src="{{ feed.user.kakao_profile }}" alt="" style="width: 20px; height: 20px; border-radius: 10px; margin: 10px 5px 0 5px;">
                        
                        <img src="{% get_media_prefix %}{{ feed.user.profile_image }}" alt="" style="width: 20px; height: 20px; border-radius: 10px; margin: 10px 5px 0 5px;">
                        
                    <div style="font-weight: bold; margin-top: 7px ;">
                    유저의 닉네임
                </div>

                    유저 팔로우
                        <a href= "{% url 'users:follow' feed.user.id %}" style="border: solid 1px #aaaaaa; border-radius: 4px; height: 25px; margin: 5px 0 0 10px; padding-left: 5px; padding-right: 5px; font-size: 11pt; text-decoration: none; color: #fafafa;; background-color: #aaaaaa;">팔로잉</a>
                        
                        <a href= "{% url 'users:follow' feed.user.id %}" style="border: solid 1px #aaaaaa; border-radius: 4px; height: 25px; margin: 5px 0 0 10px; padding-left: 5px; padding-right: 5px; font-size: 11pt; text-decoration: none; color: #aaaaaa;; background-color: #fafafa;">팔로우</a>
                    
                 
            </div>
            <div class="dropdown">
                <button type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: #fafafa;">
                    <div style="font-weight: bold; margin: 3px 10px 0 0;">...</div>
                </button>
                
                <ul class="dropdown-menu" style="background-color: #fafafa; border: solid 1px #aaaaaa; box-shadow: 1px 1px 1px 1px #aaaaaa;">
                    <li><a style="text-decoration: none; color: black; margin-left: 30px;" href="{% url 'contents:post_update' feed.id %}">수정</a></li>
                    <li><a style="text-decoration: none; color: red; margin-left: 30px;" href="{% url 'contents:post_delete' feed.id %}">삭제</a></li>
                </ul>
                
            </div>
        </div>

                <div style="width: 300px; min-width: 300px; height: 280px; min-height: 280px;">
                    <img onclick="location.href='/contents/detail/{{ feed.id }}'" style="cursor: pointer; width: 300px; min-width: 300px; height: 280px; min-height: 280px; object-fit: cover;" src="{% get_media_prefix %}{{ feed.image }}"></div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;"><div style="font-size: 12pt; font-weight: bold; margin: 5px 0 0 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 180px;"></div>
                <form action='{% url 'contents:post_likes' feed.id %}' method='post'>
                    
                    <div style="display: flex; flex-direction: row;">
                        <div style="margin: 10px 5px 0 0; font-size: 10pt;">좋아요</div>
                        
                        <!--post.like_authors.all에 user가 있다면 아래 if문 돌기-->
                        <button style="border: none; background: none; margin-top: 3px;"><img onclick="contents:post_likes" style="width: 20px; height: 20px; margin: 5px 10px 0 0;" src="{% static './icon/heart_bk.png'%}" /></button>
                        
                        <button style="border: none; background: none; margin-top: 3px;"><img onclick="contents:post_likes" style="width: 20px; height: 20px; margin: 5px 10px 0 0;" src="{% static './icon/heart.png'%}" /></button>
                        
                    </div>
                </form>
            </div>
                <div style="font-size: 10pt; font-weight: normal; margin: 0 0 0 10px; color: #aaaaaa;">카테고리</div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div style="display: flex; flex-direction: row; margin: 3px 0 0 8px;">
                    
                    <span style="height: 18px; background-color: #aaaaaa; color: #fafafa; border-radius: 5px; font-size: 10pt; margin-left: 3px; padding-left: 3px; padding-right: 3px;">
                        테그네임
                    </span>
                    </a>
                    
                    <br>
                    </div>
                    <div style="text-align: right; margin-right: 10px; font-size: 10pt; color: #aaaaaa;">전</div>
                </div>
            </div>
        </div>
        
    </div>


</body>
</html>
